---
- name: Pre-accept Microsoft fonts EULA
  ansible.builtin.debconf:
    name: ttf-mscorefonts-installer
    question: msttcorefonts/accepted-mscorefonts-eula
    value: "true"
    vtype: select
  tags:
    - multimedia
    - codecs
    - fonts

- name: Install multimedia codec packages
  ansible.builtin.apt:
    name: "{{ multimedia_codec_packages }}"
    state: present
    update_cache: true
    cache_valid_time: 3600
  tags:
    - multimedia
    - codecs
    - packages

- name: Check if libdvdcss2 is installed
  ansible.builtin.command: dpkg-query -W -f='${Status}' libdvdcss2
  register: libdvdcss_check
  changed_when: false
  failed_when: false
  tags:
    - multimedia
    - codecs
    - dvd

- name: Configure libdvd-pkg (DVD playback support)
  ansible.builtin.command:
    cmd: dpkg-reconfigure -f noninteractive libdvd-pkg
  when: libdvdcss_check.rc != 0 or 'install ok installed' not in libdvdcss_check.stdout
  changed_when: true  # Task only runs when libdvdcss2 is not installed
  tags:
    - multimedia
    - codecs
    - dvd
