---
# tasks file for postman

- name: Ensure Flatpak is installed
  ansible.builtin.apt:
    name: flatpak
    state: present
  tags:
    - postman
    - packages
    - api
    - development
    - flatpak
    - dependencies

- name: Install Postman from Flathub
  community.general.flatpak:
    name: "{{ postman_flatpak_id }}"
    state: present
    remote: "{{ flatpak_remote }}"
    method: "{{ flatpak_method }}"
  tags:
    - postman
    - packages
    - api
    - development
    - flatpak
