---
# tasks file for openssh_server

- name: Update APT cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
  tags:
    - openssh
    - ssh
    - security
    - packages

- name: Install OpenSSH server
  ansible.builtin.apt:
    name: openssh-server
    state: present
  tags:
    - openssh
    - ssh
    - security
    - packages

- name: Install fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
  when: fail2ban_enabled | default(true)
  tags:
    - openssh
    - ssh
    - security
    - fail2ban
    - packages

- name: Ensure SSH directory exists
  ansible.builtin.file:
    path: /etc/ssh
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags:
    - openssh
    - ssh
    - security

- name: Ensure SSH privilege separation directory exists
  ansible.builtin.file:
    path: /run/sshd
    state: directory
    owner: root
    group: root
    mode: '0755'
  tags:
    - openssh
    - ssh
    - security

- name: Configure SSH server
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
    backup: true
  loop:
    - { regexp: '^#?Port', line: 'Port {{ ssh_port }}' }
    - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin {{ ssh_permit_root_login }}' }
    - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication {{ ssh_password_authentication }}' }
    - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication {{ ssh_pubkey_authentication }}' }
    - { regexp: '^#?PermitEmptyPasswords', line: 'PermitEmptyPasswords {{ ssh_permit_empty_passwords }}' }
    - { regexp: '^#?ChallengeResponseAuthentication', line: 'ChallengeResponseAuthentication {{ ssh_challenge_response_auth }}' }
    - { regexp: '^#?UsePAM', line: 'UsePAM {{ ssh_use_pam }}' }
    - { regexp: '^#?X11Forwarding', line: 'X11Forwarding {{ ssh_x11_forwarding }}' }
    - { regexp: '^#?PrintMotd', line: 'PrintMotd {{ ssh_print_motd }}' }
    - { regexp: '^#?AcceptEnv', line: 'AcceptEnv {{ ssh_accept_env }}' }
    - { regexp: '^#?MaxAuthTries', line: 'MaxAuthTries {{ ssh_max_auth_tries }}' }
    - { regexp: '^#?MaxSessions', line: 'MaxSessions {{ ssh_max_sessions }}' }
    - { regexp: '^#?ClientAliveInterval', line: 'ClientAliveInterval {{ ssh_client_alive_interval }}' }
    - { regexp: '^#?ClientAliveCountMax', line: 'ClientAliveCountMax {{ ssh_client_alive_count_max }}' }
  notify: restart ssh
  tags:
    - openssh
    - ssh
    - security
    - configuration

- name: Ensure SSH service is enabled and started
  ansible.builtin.service:
    name: ssh
    state: started
    enabled: true
  tags:
    - openssh
    - ssh
    - security
    - service

- name: Configure fail2ban SSH jail
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: '0644'
    backup: true
  when: fail2ban_enabled | default(true)
  notify: restart fail2ban
  tags:
    - openssh
    - ssh
    - security
    - fail2ban
    - configuration

- name: Ensure fail2ban service is enabled and started
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true
  when: fail2ban_enabled | default(true)
  tags:
    - openssh
    - ssh
    - security
    - fail2ban
    - service

- name: Get SSH service status
  ansible.builtin.command: systemctl status ssh
  register: ssh_status
  changed_when: false
  failed_when: false
  tags:
    - openssh
    - ssh
    - security

- name: Get fail2ban status
  ansible.builtin.command: fail2ban-client status sshd
  register: fail2ban_status
  changed_when: false
  failed_when: false
  when: fail2ban_enabled | default(true)
  tags:
    - openssh
    - ssh
    - security
    - fail2ban