---
# tasks file for flatpak

- name: Install Flatpak
  ansible.builtin.apt:
    name: flatpak
    state: "{{ flatpak_package_state }}"
    update_cache: true
  tags:
    - packages
    - flatpak
    - package-management

- name: Install Flatpak backend for KDE Discover
  ansible.builtin.apt:
    name: plasma-discover-backend-flatpak
    state: "{{ flatpak_package_state }}"
    update_cache: true
  tags:
    - packages
    - flatpak
    - package-management
    - kde

- name: Check if flatpak executable is available
  ansible.builtin.command: which flatpak
  register: flatpak_executable_check
  changed_when: false
  failed_when: false
  tags:
    - flatpak
    - package-management
    - flathub

- name: Add Flathub remote repository
  community.general.flatpak_remote:
    name: "{{ flathub_remote_name }}"
    state: present
    flatpakrepo_url: "{{ flathub_remote_url }}"
    method: "{{ flathub_remote_method }}"
  when: flatpak_executable_check.rc == 0
  tags:
    - flatpak
    - package-management
    - flathub
