---
- name: Ensure UFW is installed
  become: true
  ansible.builtin.package:
    name: ufw
    state: present

- name: Enable UFW
  become: true
  community.general.ufw:
    state: enabled

- name: Ensure UFW service is enabled and started
  become: true
  ansible.builtin.service:
    name: ufw
    enabled: true
    state: started
