---
- name: Install Emacs
  ansible.builtin.apt:
    name: emacs
    state: present
  tags:
    - emacs
    - packages

- name: Ensure .emacs.d directory exists
  become: false
  ansible.builtin.file:
    path: "{{ user_home }}/.emacs.d"
    state: directory
    mode: "0755"
  tags:
    - emacs
    - config

- name: Symlink init.el
  become: false
  ansible.builtin.file:
    src: "{{ playbook_dir }}/roles/emacs/files/init.el"
    dest: "{{ user_home }}/.emacs.d/init.el"
    state: link
    force: true
  tags:
    - emacs
    - config
