---
- name: Install Emacs
  ansible.builtin.apt:
    name: emacs
    state: present
  tags:
    - emacs
    - packages

- name: Remove old ~/.emacs.d directory
  become: false
  ansible.builtin.file:
    path: "{{ user_home }}/.emacs.d"
    state: absent
  tags:
    - emacs
    - config

- name: Ensure .config/emacs directory exists
  become: false
  ansible.builtin.file:
    path: "{{ user_home }}/.config/emacs"
    state: directory
    mode: "0755"
  tags:
    - emacs
    - config

- name: Symlink init.el to .config/emacs/init.el
  become: false
  ansible.builtin.file:
    src: "{{ playbook_dir }}/roles/emacs/files/init.el"
    dest: "{{ user_home }}/.config/emacs/init.el"
    state: link
    force: true
  tags:
    - emacs
    - config

- name: Symlink lisp directory
  become: false
  ansible.builtin.file:
    src: "{{ playbook_dir }}/roles/emacs/files/lisp"
    dest: "{{ user_home }}/.config/emacs/lisp"
    state: link
    force: true
  tags:
    - emacs
    - config
