---
# tasks file for java

- name: Install OpenJDK packages
  ansible.builtin.apt:
    name: "{{ java_packages }}"
    state: "{{ java_package_state }}"
    update_cache: true
  tags:
    - java
    - jdk
    - development
    - packages

- name: Get Java installation path
  ansible.builtin.shell: |
    set -o pipefail
    update-java-alternatives -l | grep java-1 | head -1 | awk '{print $3}'
  args:
    executable: /bin/bash
  register: java_home_path
  changed_when: false
  failed_when: false
  tags:
    - java
    - jdk
    - environment

- name: Set JAVA_HOME environment variable system-wide
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: '^JAVA_HOME='
    line: 'JAVA_HOME="{{ java_home_path.stdout }}"'
    create: true
    mode: '0644'
  when: java_home_path.stdout != ""
  tags:
    - java
    - jdk
    - environment

- name: Create profile.d script for Java environment
  ansible.builtin.copy:
    dest: /etc/profile.d/java.sh
    content: |
      # Java environment variables
      export JAVA_HOME="{{ java_home_path.stdout }}"
      export PATH="$JAVA_HOME/bin:$PATH"
    mode: '0644'
  when: java_home_path.stdout != ""
  tags:
    - java
    - jdk
    - environment

- name: Get installed Java version
  ansible.builtin.command: java -version
  register: java_version_output
  changed_when: false
  tags:
    - java
    - jdk

- name: Get installed javac version
  ansible.builtin.command: javac -version
  register: javac_version_output
  changed_when: false
  tags:
    - java
    - jdk

- name: Get installed Maven version
  ansible.builtin.command: mvn --version
  register: maven_version_output
  changed_when: false
  tags:
    - java
    - maven
    - build-tools

- name: Get installed Gradle version
  ansible.builtin.command: gradle --version
  register: gradle_version_output
  changed_when: false
  tags:
    - java
    - gradle
    - build-tools

- name: Display Java installation info
  ansible.builtin.debug:
    msg: |
      Java Development Environment has been installed successfully!

      Installed packages:
      - OpenJDK 21 JDK (Java Development Kit)
      - OpenJDK 21 JRE (Java Runtime Environment)
      - OpenJDK Documentation
      - OpenJDK Source Code
      - Apache Maven (Build Tool)
      - Gradle (Build Tool)

      Versions:
      - Java:   {{ java_version_output.stderr_lines[0] | default('N/A') }}
      - Javac:  {{ javac_version_output.stderr_lines[0] | default('N/A') }}
      - Maven:  {{ maven_version_output.stdout_lines[0] | default('N/A') }}
      - Gradle: {{ gradle_version_output.stdout_lines[1] | default('N/A') }}

      Environment:
      - JAVA_HOME: {{ java_home_path.stdout }}

      Useful commands:
      Java:
      - java -version              : Check Java runtime version
      - javac -version             : Check Java compiler version
      - which java                 : Location of java executable
      - update-java-alternatives -l : List installed Java versions
      - echo $JAVA_HOME            : Show Java home directory

      Maven:
      - mvn --version              : Check Maven version
      - mvn clean install          : Build project
      - mvn clean test             : Run tests
      - mvn dependency:tree        : Show dependency tree
      - mvn archetype:generate     : Create new Maven project

      Gradle:
      - gradle --version           : Check Gradle version
      - gradle build               : Build project
      - gradle test                : Run tests
      - gradle tasks               : List available tasks
      - gradle init                : Initialize new Gradle project

      For Fish shell users:
      The JAVA_HOME variable is set in /etc/environment and /etc/profile.d/java.sh
      You may need to restart your shell or run: source /etc/environment

      Getting started:

      Maven project:
      1. Create new project: mvn archetype:generate -DgroupId=com.example -DartifactId=myapp -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false
      2. Build: mvn clean install
      3. Run: java -cp target/myapp-1.0-SNAPSHOT.jar com.example.App

      Gradle project:
      1. Create new project: gradle init --type java-application
      2. Build: gradle build
      3. Run: gradle run

      Quick Java test:
      1. Create HelloWorld.java
      2. Compile: javac HelloWorld.java
      3. Run: java HelloWorld

      IntelliJ IDEA Integration:
      - IntelliJ will automatically detect Maven and Gradle projects
      - Open pom.xml (Maven) or build.gradle (Gradle) to import projects
      - IntelliJ uses the JAVA_HOME configured in this role

      Note: SDKMAN (installed via fish_shell/zsh roles) can manage multiple Java, Maven, and Gradle versions.
  tags:
    - java
    - jdk
    - maven
    - gradle
    - build-tools
