---
# tasks file for java

- name: Install OpenJDK packages
  ansible.builtin.apt:
    name: "{{ java_packages }}"
    state: "{{ java_package_state }}"
    update_cache: true
  tags:
    - java
    - jdk
    - development
    - packages

- name: Get Java installation path
  ansible.builtin.shell: |
    set -o pipefail
    update-java-alternatives -l | grep java-1 | head -1 | awk '{print $3}'
  args:
    executable: /bin/bash
  register: java_home_path
  changed_when: false
  failed_when: false
  tags:
    - java
    - jdk
    - environment

- name: Set JAVA_HOME environment variable system-wide
  ansible.builtin.lineinfile:
    path: /etc/environment
    regexp: '^JAVA_HOME='
    line: 'JAVA_HOME="{{ java_home_path.stdout }}"'
    create: true
    mode: '0644'
  when: java_home_path.stdout != ""
  tags:
    - java
    - jdk
    - environment

- name: Create profile.d script for Java environment
  ansible.builtin.copy:
    dest: /etc/profile.d/java.sh
    content: |
      # Java environment variables
      export JAVA_HOME="{{ java_home_path.stdout }}"
      export PATH="$JAVA_HOME/bin:$PATH"
    mode: '0644'
  when: java_home_path.stdout != ""
  tags:
    - java
    - jdk
    - environment

- name: Get installed Java version
  ansible.builtin.command: java -version
  register: java_version_output
  changed_when: false
  tags:
    - java
    - jdk

- name: Get installed javac version
  ansible.builtin.command: javac -version
  register: javac_version_output
  changed_when: false
  tags:
    - java
    - jdk

- name: Get installed Maven version
  ansible.builtin.command: mvn --version
  register: maven_version_output
  changed_when: false
  tags:
    - java
    - maven
    - build-tools

- name: Get installed Gradle version
  ansible.builtin.command: gradle --version
  register: gradle_version_output
  changed_when: false
  tags:
    - java
    - gradle
    - build-tools
