---
# handlers file for ollama

- name: Restart ollama service
  ansible.builtin.systemd:
    name: ollama
    state: restarted
    daemon_reload: true
  tags:
    - ollama
    - ai
    - llm
    - service
