---
# handlers file for openssh_server

- name: Restart sshd
  ansible.builtin.service:
    name: ssh
    state: restarted
  listen: restart ssh

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
  listen: restart fail2ban

- name: Reload fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: reloaded
  listen: reload fail2ban
