---
# tasks file for neovim

- name: Check if Neovim GPG keyring exists and is valid
  ansible.builtin.command: gpg --list-keys --keyring "{{ neovim_ppa_keyring_path }}"
  register: neovim_keyring_check
  changed_when: false
  failed_when: false
  when: not ansible_check_mode
  tags:
    - neovim
    - packages
    - editor
    - development
    - security

- name: Remove corrupted Neovim GPG keyring if invalid
  ansible.builtin.file:
    path: "{{ neovim_ppa_keyring_path }}"
    state: absent
  when:
    - neovim_keyring_check.rc is defined
    - neovim_keyring_check.rc != 0
  tags:
    - neovim
    - packages
    - editor
    - development
    - security

- name: Download Neovim PPA GPG key
  ansible.builtin.shell: |
    gpg --no-default-keyring --keyring "{{ neovim_ppa_keyring_path }}" --keyserver keyserver.ubuntu.com --recv-keys 9DBB0BE9366964F134855E2255F96FCF8231B6DD
  args:
    creates: "{{ neovim_ppa_keyring_path }}"
  when: not ansible_check_mode
  tags:
    - neovim
    - packages
    - editor
    - development
    - security

- name: Set correct permissions on Neovim GPG keyring
  ansible.builtin.file:
    path: "{{ neovim_ppa_keyring_path }}"
    mode: '0644'
    owner: root
    group: root
  when: not ansible_check_mode
  tags:
    - neovim
    - packages
    - editor
    - development
    - security

- name: Add Neovim PPA with signed-by
  ansible.builtin.apt_repository:
    repo: "deb [signed-by={{ neovim_ppa_keyring_path }}] http://ppa.launchpad.net/neovim-ppa/unstable/ubuntu {{ ansible_distribution_release }} main"
    filename: neovim-ppa-unstable
    state: present
    update_cache: true
  tags:
    - neovim
    - packages
    - editor
    - development

- name: Install Neovim from PPA
  ansible.builtin.apt:
    name: neovim
    state: "{{ neovim_package_state }}"
    update_cache: true
  when: not ansible_check_mode
  tags:
    - neovim
    - packages
    - editor
    - development

- name: Set Neovim as default editor alternative
  community.general.alternatives:
    name: editor
    path: /usr/bin/nvim
  failed_when: false
  tags:
    - neovim
    - editor
    - configuration
